#jq-scalebreaker-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  z-index: 99995;
}

#jq-scalebreaker-dialog-scalable {
  position: absolute;
  z-index: 1;
  width: 100%;
  cursor: auto;
}

#jq-scalebreaker-dialog-scrollable {
  position: relative;
}

#jq-scalebreaker-dialog-content {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#jq-scalebreaker-dialog-close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

/* UI Logic */

#jq-scalebreaker-wrapper {
  display: none;
}

#jq-scalebreaker-wrapper.jq-scalebreaker-show {
  display: block;
}

.jq-scalebreaker-animate-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.jq-scalebreaker-animate-in #jq-scalebreaker-dialog-scrollable {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.jq-scalebreaker-animate-out {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.jq-scalebreaker-animate-out #jq-scalebreaker-dialog-scrollable {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* Custom Design */

#jq-scalebreaker-wrapper {
  background-color: rgba(0,0,0,0.7);
}

#jq-scalebreaker-dialog-scrollable {
  min-height: 100px;
  max-height: 300px;
  overflow: hidden;
  background-color: #fff;
}

#jq-scalebreaker-dialog-content {
  padding: 20px;
}

#jq-scalebreaker-dialog-close {
  width: 32px;
  height: 32px;
  background-color: rgba(0,0,0,0.1);
}

#jq-scalebreaker-dialog-close:before,
#jq-scalebreaker-dialog-close:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -1px;
  width: 2px;
  height: 20px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background-color: #fff;
}

#jq-scalebreaker-dialog-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#jq-scalebreaker-dialog-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/* Animations */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}

@keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}